.popup {    
    margin-right: 70%;
    margin-left: -0.71%;
    margin-bottom: 10%;
    position: absolute;
    top: 273px;
    
}



.popup-list {
    margin-top: -1%;
    width: 40%;
    height: 50%;
    margin-left: 28%;
}

.ui.mini.brown.button {
    margin-left: 30%;

}

.popup-form{
    margin-left: 70%;
    margin-top: -25%;
}

.list-group-item{
    font-size: 14.3px;
    margin-top: -16px;
    background-color: rgb(206, 205, 205);
}

.btn.btn-secondary{
    margin-top: 130px;
    margin-left: 160px;
}